<section class="block block--dark block--skewed-left">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,
      laboriosam.
    </p>
  </header>
</section>
<section class="block block--skewed-left">
  <header class="block__header">
    <h2 class="block__heading">Heading</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil,
      laboriosam.
    </p>
  </header>
</section>

<section class="block block--dark block--skewed-right">
  <div class="container">
    <header class="block__header">
      <h2 class="block__heading">Heading</h2>
    </header>
    <div class="grid grid--1x3">
      <div style="height: 100px; background: gold"></div>
      <div style="height: 100px; background: dodgerblue"></div>
      <div style="height: 100px; background: tomato"></div>
    </div>
  </div>
</section>
